.principal
{
	width: 300px; 
	height: 100px;
	border-radius: 60px;
	background-color: blue;
	font-size: xx-large;
	padding: 50px;
	position: relative;
	font-size: 40px;
	font-weight: 700px;

}

